<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>item4</key>
        <array>
            <string>image4</string>
            <string>image4インターネットテレビ局「ＡｂｅｍａＴＶ」</string>
        </array>
        <key>item3</key>
        <array>
            <string>image3</string>
            <string>image3インターネットテレビ局「ＡｂｅｍａＴＶ」で大みそかに放送する特別企画「朝青龍を押し出したら１０００万円」にアテネ五輪銀メダリストの柔道家・泉浩（３５）が挑戦者として参戦することが分かった。２２日、番組公式ツイッターで発表された。(スポニチアネックス)</string>
        </array>
        <key>item2</key>
        <array>
            <string>image2</string>
            <string>image2インターネットテレビ局「ＡｂｅｍａＴＶ」で大みそかに放送する特別企画「朝青龍を押し出したら１０００万円」にアテネ五輪銀メダリストの柔道家・泉浩（３５）が挑戦者として参戦することが分かった。２２日、番組公式ツイッターで発表された。(スポニチアネックス)</string>
        </array>
        <key>item1</key>
        <array>
            <string>image1</string>
            <string>image1インターネットテレビ局「ＡｂｅｍａＴＶ」で大みそかに放送する特別企画「朝青龍を押し出したら１０００万円」にアテネ五輪銀メダリストの柔道家・泉浩（３５）が挑戦者として参戦することが分かった。２２日、番組公式ツイッターで発表された。(スポニチアネックス)</string>
        </array>
    </dict>
</plist>

